<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodepedia - Error 404</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
        *{

            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{

            text-align: center;
            color: #b4b4b4;
            font-family: "Montserrat", sans-serif;
            padding: 50px;
        }
    </style>
</head>
<body>
    <h1>Error 404</h1>
    <p>Nothing to see here try to search another topic <a href="/">here</a><br>Maybe this error becouse -> <%= error %></p>
</body>
</html>